<main class="image-container" id="primera-seccion">
  <img src="/assets/images/image_front_page.png" alt="Front image" class="front-image">
  <img src="../assets/images/title_front_image.png" alt="Front title" class="title-image">
  <h1 class="main-title"> <strong>Una rentable forma de vacacionar</strong> </h1>
  <p class="description">
    Combina la exclusividad de unas vacaciones en la naturaleza con la seguridad de una inversión inmobiliaria
    inteligente.
  </p>
</main>


<div class="text-container" id="2-seccion">
  <h1 class="title" style="text-align:left;">Disfruta de una</h1>
  <h1 class="title2">PROPIEDAD EXCLUSIVA</h1>
  <h1 class="title3">durante <strong>25 AÑOS</strong></h1>
  <h1 class="title4">Con inversión asequible</h1>
</div>
<br>
<br>
<div class="concontainerimagen">
<div class="sliderC"id="3-seccion" >
  <div class="containerimagen">
  <img src="../assets/images/image_front_2.png" alt="Front Image" class="front-image3">
</div>

</div>
<div class="text-container2">
  <img src="../assets/images/icons/calendarriofin.png" alt="Calendario" class="icons">
  <p>
    En <strong>CLUB LOMITAS</strong>, te ofrecemos la oportunidad única de disfrutar de 6 días al año durante
    <strong>25 años</strong> en un entorno natural incomparable, mientras aseguras un activo que se valoriza con el
    tiempo.
  </p>
</div>
</div>
<div class="baner" id="3-seccion">
  <div class="first">
    <div class="container">
      <h1>Descubre nuestras <span class="title">Exclusividades</span></h1>
      <h2>Cabañas de lujo</h2>
      <div class="cabin-type">
        <h3>Tipo A</h3>
        <ul>
          <li>De 2 a 4 personas</li>
          <li>Cama doble y un camarote</li>
          <li>Jacuzzi y balcón privado</li>
        </ul>
      </div>
      <div class="cabin-type">
        <h3>Tipo B</h3>
        <ul>
          <li>De 4 a 8 personas</li>
          <li>Dos pisos con una habitación por piso</li>
          <li>Dos camas dobles y un camarote</li>
          <li>Jacuzzi y sauna</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="second" id="4-seccion">
    <div class="image-list">
      <div class="item">
        <img src="../assets/images/icons/deportiva.png" alt="Zona Deportiva">
        <span class="text">Zona Deportiva</span>
      </div>
      <div class="item">
        <img src="../assets/images/icons/comida.png" alt="Zona de Snacks">
        <span class="text">Zona de Snacks</span>
      </div>
      <div class="item">
        <img src="../assets/images/icons/pool.png" alt="Piscina de Peces Ornamentales">
        <span class="text">Piscina de Peces Ornamentales</span>
      </div>
      <div class="item">
        <img src="../assets/images/icons/butterfly.png" alt="Fascinante Mariposario">
        <span class="text">Fascinante Mariposario</span>
      </div>
      <div class="item">
        <img src="../assets/images/icons/food.png" alt="Restaurante de Alta Calidad">
        <span class="text">Restaurante de Alta Calidad</span>
      </div>
      <div class="item">
        <img src="../assets/images/icons/pool2.png" alt="Piscina Refrescante">
        <span class="text">Piscina Refrescante</span>
      </div>
      <div class="item">
        <img src="../assets/images/icons/sender.png" alt="Sendero Ecológico">
        <span class="text">Sendero Ecológico</span>
      </div>
      <div class="item">
        <img src="../assets/images/icons/geranja.png" alt="Estaciones de Granja">
        <span class="text">Estaciones de Granja</span>
      </div>
    </div>
  </div>
</div>

<div class="slider" id="5-seccion">
  <div class="slider-container">
    <div class="slide">
      <img class="pos" src="../assets/images/1.png" alt="1">
    </div>
    <div class="slide">
      <img class="pos" src="../assets/images/2.png" alt="2">
    </div>
    <div class="slide">
      <img class="pos" src="../assets/images/3.png" alt="3">
    </div>
    <div class="slide">
      <img class="pos" src="../assets/images/4.png" alt="4">
    </div>
  </div>
  <div class="slider-dots">
    <span class="dot" (click)="currentDiv(1)"></span>
    <span class="dot" (click)="currentDiv(2)"></span>
    <span class="dot" (click)="currentDiv(3)"></span>
    <span class="dot" (click)="currentDiv(4)"></span>
  </div>

  <div class="pricing-container" id="6-seccion">
    <h2 class="text1"><b>Aprovecha una</b><br><span class="title5">Inversión inteligente</span><br> que combina disfrute
      y rentabilidad</h2>

    <div class="pricing-card">
      <div class="card">
        <img class="star" src="../assets/images/icons/star_filled.png" alt="3">
        <h3>Membresía tipo A</h3>
        <label class="price">COP $5’900.000</label>

        <p> <img class="icon" src="../assets/images/icons/$.png" alt="3"> Promedio <br> alquiler por noche <br> COP 200.000</p>

        <p> <img class="icon" src="../assets/images/icons/monn.png" alt="3"> Noches <br> por año <br> 6 Noches</p>

        <p> <img class="icon" src="../assets/images/icons/$.png" alt="3"> Promedio <br> ingreso anual <br> COP 1’200.000</p>

        <p> <img class="icon" src="../assets/images/icons/calendar_black.png" alt="3"> Total de <br> beneficios en 25 años <br> COP 30’000.000</p>

        <label class="profitability">Rentabilidad</label>
        <div class="rating">
          <span class="dot active"></span>
          <span class="dot active"></span>
          <span class="dot active"></span>
          <span class="dot active"></span>
          <span class="dot"></span>
        </div>
      </div>

      <div class="card">
        <img class="star" src="../assets/images/icons/star_filled.png" alt="3">
        <h3>Membresía tipo A</h3>
        <label class="price">COP $5’900.000</label>

        <p> <img class="icon" src="../assets/images/icons/$.png" alt="3"> Promedio <br> alquiler por noche <br> COP 400.000</p>

        <p> <img class="icon" src="../assets/images/icons/monn.png" alt="3"> Noches <br> por año <br> 6 Noches</p>

        <p> <img class="icon" src="../assets/images/icons/$.png" alt="3"> Promedio <br> ingreso anual <br> COP 2’400.000</p>

        <p> <img class="icon" src="../assets/images/icons/calendar_black.png" alt="3"> Total de <br> beneficios en 25 años <br> COP 60’000.000</p>

        <label class="profitability">Rentabilidad</label>
        <div class="rating">
          <span class="dot active"></span>
          <span class="dot active"></span>
          <span class="dot active"></span>
          <span class="dot active"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image-container2" id="7-seccion">
  <div alt="Front image" class="front-image2">

    <h1><span style="color: #B7CD02;font-weight: 1;">Inversión</span><br>
      <span style="color: #ffffff;font-weight: 100;font-family:arial ;">y rentabilidad</span>
    </h1>
    <p>Además de disfrutar de tus vacaciones, ser parte de <span style="color: #B7CD02;font-weight: 600;">CLUB
        LOMITAS</span> te da <br> acceso a una inversión con múltiples beneficios. Como socio accionista, <br> recibirás
      un porcentaje de las ganancias del proyecto generadas por:</p>
    <div class="benefits">

      <div class="benefit">
        <img class="box" src="../assets/images/box.png" alt="box">
        <img class="icon" src="../assets/images/icons/tiket.png" alt="Restaurante">
        <h5>Restaurante</h5>
      </div>
      <div class="benefit">
        <img class="box2" src="../assets/images/box.png" alt="box">
        <img class="icon2" src="../assets/images/icons/helado.png" alt="Sendero">
        <h5 class="h">Entradas al sendero</h5>
      </div>
      <div class="benefit">
        <img class="box" src="../assets/images/box.png" alt="box">
        <img class="icon" src="../assets/images/icons/calendarriofin.png" alt="Salón de eventos">
        <h5>Salón de eventos</h5>
      </div>
      <p class="end"><span style="color: #B7CD02;font-weight: 600;">¡El 60% de las utilidades</span> de estas actividades
        económicas se repartirá <br> <span style="color: #B7CD02;font-weight: 600;">trimestralmente entre todos nuestros
          socios!</span> </p>
    </div>
  </div>
    <div class="familycontainer">
      <div class="familyimage"><img src="../assets/images/icons/familia.png" alt=""></div>
      <div class="text1">Presenta<br><span style="color: #1d2530;font-weight: 100;font-family: arial;">¡Aprovecha el
          bono del 20% de descuento!</span></div>
      <div class="membership-container">
        <div class="membership-box">
          <div class="discount">
            <span>20% dto</span>
          </div>
          <div class="membership-details">
            <img class="icon" src="../assets/images/icons/star_filled.png" alt="3">
            <h3>Membresía tipo A</h3>
            <p class="original-price"> Antes COP $ 6.900.000</p>
            <p class="discounted-price">Ahora COP $ 5.520.000</p>
          </div>
        </div>

        <div class="membership-box2">
          <div class="discount">
            <span>20% dto</span>
          </div>
          <div class="membership-details">
            <img class="icon" src="../assets/images/icons/star_filled.png" alt="3">

            <h3>Membresía tipo B</h3>
            <p class="original-price"> Antes COP $ 6.900.000</p>
            <p class="discounted-price">Ahora COP $ 5.520.000</p>
          </div>
        </div>
      </div>

    </div>
</div>
<div class="prevent" id="8-seccion">
  <div class="prevent1">
    <p>No pierdas esta oportunidad de <span style="color: #B7CD02;font-weight: 600;">inversión rentable</span> que combina el disfrute de unas <span style="color: #B7CD02;font-weight: 600;">vacaciones exclusivas</span> con la seguridad de un <span style="color: #B7CD02;font-weight: 600;">retorno financiero a largo plazo.</span></p>
  </div>
  <br>
  <br>
  <br>
  <div class="promo">
    <span class="join-preventa">
      Únete a <br>
      <span class="highlight-preventa">¡la preventa!</span>
    </span><div class="box3">
      <span class="box3-content">
        <img class="icon" src="../assets/images/icons/star_filled_with.png">
        Reserva ahora y asegura tu inversión
        <img class="icon" src="../assets/images/icons/star_filled_with.png">
      </span>
    </div>
    <img src="../assets/images/title_front_image_black.png" alt="Front title" class="footerimage">
  </div>

</div>

<br>
<br>
<div class="saysloms" id="9-seccion">
  <h2>Qué dicen <br><span>de CLUB LOMITAS</span> </h2>
  <p>Descubre por qué nuestros clientes están emocionados con esta oportunidad de inversión y disfrute exclusivo</p>
<br><br>
  <div class="testimonials">
    <div class="testimonial">
      <img src="../assets/images/person1.png" alt="Brian Gómez">
      <h3>Brian Gómez</h3>
      <br>
      <h4>Empresario sector restaurantes</h4>
      <p>Compró 2 acciones y fue el primero en escoger sus semanas vacacionales</p>
    </div>
    <div class="testimonial">
      <img src="../assets/images/person2.png" alt="Brian Gómez">
      <h3>Lina Hernandez</h3>
      <h4>Profesora jubilada</h4>
      <br>
      <p>Adquirió su acción en Preventa y llevará a toda su familia en su semana vacacional en la cabaña tipo B con acabados de lujo </p>

    </div>

      <div class="testimonial">
        <img src="../assets/images/person3.png" alt="Brian Gómez">
        <h3>Flia Basante Ordóñez</h3>
        <h4> Empresario sector restaurantes</h4>
        <br>
        <p>Inviertieron su fondo vacacional de un año en la acción para la cabaña tipo A y ahora podrán disfrutar por 25 años de vacaciones y renta</p>
      </div>
    </div>
</div>
<section class="faq-section" id="10-seccion">
  <h1>
    Preguntas
    <br>
    <span style="color: rgb(0, 0, 0);font-family: Arial, Helvetica, sans-serif;font-size: 0.7em;">Frecuentes</span>
  </h1>

  <h2>Todo lo que necesitas saber sobre el derecho de uso, la inversión y las amenidades de CLUB LOMITAS</h2>

  <div class="faq">
    <div class="faq-item" *ngFor="let faq of faqs; let i = index">
      <button class="faq-question" (click)="toggle(i)">
        {{ faq.question }}

        <i class="fas" [ngClass]="{'fa-chevron-down': !faq.isVisible, 'fa-chevron-up': faq.isVisible}"></i>
      </button>
      <div [ngClass]="{'faq-answer': true, 'expanded': faq.isVisible, 'collapsed': !faq.isVisible}">
        <p>{{ faq.answer }} </p>
      </div>
    </div>
  </div>
  <br>
<h2>¿Aún tienes dudas? Ponte en contacto con nuestros asesores por medio de los enlaces a nuestros canales de comunicación o déjanos tus datos para contactarte en breve</h2>
<button class="asesor" (click)="form2(1)">
  <img class="icon" src="../assets/images/icons/star_filled_with.png" alt="Star Icon">
  &nbsp;&nbsp;&nbsp;&nbsp;Contacta un asesor&nbsp;&nbsp;&nbsp;&nbsp;
  <img class="icon" src="../assets/images/icons/star_filled_with.png" alt="Star Icon">
</button>

</section>
<section class="end">
  <img src="../assets/images/paisaje 1.png" alt="Front image" >
</section>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="../assets/images/title_front_image.png" alt="Club Lomitas Logo">
    </div>
    <div class="footer-column">
      <h3>Empresa</h3>
      <ul>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Inversionistas</a></li>
        <li><a href="#">Política de privacidad</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contactos</h3>
      <ul>
        <li>+57 3115367361</li>
        <li>+57 3115367361</li>
        <li><a href="gerencialomitass@gmail.com">gerencialomitassgmail.com</a></li>
      </ul>
      <div class="footer-socials">
        <a href="#"><img src="../assets/images/icons/whatsap.png" alt="WhatsApp"></a>
        <a href="#"><img src="../assets/images/icons/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="../assets/images/icons/facebook.png" alt="Facebook"></a>
      </div>
    </div>
  </div>
</footer>


<router-outlet
></router-outlet>
